
## Домашнее задание «Продвинутый pandas 2»
### Задание 1
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [3]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
lifecycle = ratings.groupby('userId').agg(['min', 'max', 'count'])['timestamp'].query('count > 100')
print ('User mean lifecycle time  (100+ assesment) is', lifecycle['max'].mean() - lifecycle['min'].mean())

User mean lifecycle time  (100+ assesment) is 40080507.44961238


### Задание 2
Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:

таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
аналогичную таблицу по типам выручки с указанием адреса клиента Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

#### Дана статистика услуг перевозок клиентов компании по типам:

*rzd - железнодорожные перевозки
auto - автомобильные перевозки
air - воздушные перевозки
client_base - адреса клиентов*

In [4]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
#_#
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
#_#
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
#_#
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [5]:

rzd, auto, air, client_base

(   client_id  rzd_revenue
 0        111         1093
 1        112         2810
 2        113        10283
 3        114         5774
 4        115          981,
    client_id  auto_revenue
 0        113         57483
 1        114            83
 2        115           912
 3        116          4834
 4        117            98,
    client_id  air_revenue
 0        115           81
 1        116            4
 2        117           13
 3        118          173,
    client_id          address
 0        111  Комсомольская 4
 1        112   Энтузиастов 8а
 2        113  Левобережная 1а
 3        114          Мира 14
 4        115        ЗЖБИиДК 1
 5        116    Строителей 18
 6        117  Панфиловская 33
 7        118     Мастеркова 4)

In [6]:
rzd_track = rzd.merge(auto, how='outer', on='client_id').merge(air, how='outer', on='client_id')
rzd_track_detiled = rzd_track.merge(client_base, how='outer', on='client_id')
rzd_track_detiled

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4


### Задание 3
В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок? Для составления ответа можно использовать вопросы:

1. У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?
2. Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?
3. Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

#### Ответ

Для решения задачи сквозной аналитики потребуется создать базу данных (датафрейм), содержащую информацию с user_id и статичтикой покупок и визитов сайта. Для связывания с визитом и фактом покупки можно помимо координат добавить еще дату и время посещения сайта/совершения покупки. Объедеить все данные в один датафрейм методом outline merge.
По статистике визитов можно определить вероятность появления тех или иных координат пользователя и определить место его локации, встречающееся чаще всего. Тогда существенно ничего не измениться, расчет будет производиться по координатам перимущественной локации пользователя.
По координатам пользователя можно получить информацию о погодных условиях региона, среднем доходе населения в этом регионе, близость поставщиков или провайдеров тех или иных услуг, etc.